body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(205, 169, 113);
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.titulo {
  display: flex;
  justify-content: center;
  color: rgb(136, 34, 8);
  margin-left: 15px;
  margin-right: 15px;
}

.inputs{
  margin-top: 5px;
  border-radius: 5px;
  width: 70%;
  height: 3em;
}

.concluida {
  text-decoration: line-through;
  color: #888;
}

.fim {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(58, 118, 115);
  color: black;
  padding: 5px 0;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  height: 20px;
}

.fim a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.fim p, .fim h2 {
  margin: 0 10px;
}

.teste {
  background-color: rgb(239, 206, 169);
  border-radius: 20px;
  box-shadow:10px 20px 25px rgba(0, 0, 0, 0.9);
}

li{
  cursor: pointer;
}
